@import "pure-min";
@import "grids-responsive-min";
// @import "syntax-highlighting";
@import "syntax";

$primary-font-size: 1.2rem;

$h1-font-size: 2.5rem;
$h2-font-size: 2.1rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1rem;

$paragraph-font-size: 1rem;
$secondary-font-size: $paragraph-font-size * 0.9;
$ternary-font-size: $secondary-font-size * 0.9;

// $font-family-serif: 'Roboto Slab', Georgia, Cambria, "Times New Roman", Times, serif
$font-family-serif: Georgia, serif;
// $font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-sans-serif: "Varela Round", arial , sans-serif;

$body-font-family: $font-family-serif;
$header-font-family: $font-family-sans-serif;

$primary-color: #008CBA;

$background-color: white;
$body-font-color: #222;

$header-font-color: #222;
$anchor-font-color: $primary-color;

$primary-text-color: $body-font-color;
$secondary-text-color: lighten($body-font-color, 15%);
$secondary-color: #e7e7e7;
$secondary-background-color: lighten($secondary-color, 5%);

$blockquote-font-color: lighten($header-font-color, 35%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$hamburger-menu-width: 1.125rem;
$hamburger-menu-height: 0.94rem;
$hamburger-space: 0.625rem;
$hamburger-border-width: 1px;

$paragraph-margin-bottom: 1.25rem;
$paragraph-line-height: 1.8;

$list-margin-bottom: $paragraph-margin-bottom;

$column-gutter: 1.875rem;
$hamburger-border-width: 1px;

$footer-reduction: 1;

$selection-color: #ff9;

$small-only: "only screen and (max-width: 35.5em)";

/**
 * Generic styles.
 */

body  {
  font-family: $body-font-family;
  font-size: 1rem;
}

h1, h2, h3, h5, h5, h6 {
  font-family: $header-font-family;
  font-weight: normal;
}

h1 {
  font-size: $h1-font-size;
  margin: $h1-font-size 0 $h1-font-size/2;
}
h2 {
  font-size: $h2-font-size;
  margin: $h2-font-size 0 $h2-font-size/2;
}
h3 {
  font-size: $h3-font-size;
  margin: $h3-font-size 0 $h3-font-size/2;
}
h4 {
  font-size: $h4-font-size;
  margin: $h4-font-size 0 $h4-font-size/2;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

a {
  color: $anchor-font-color;
  text-decoration: none;
}

p, li{
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
}

blockquote {
  color: $blockquote-font-color;
  font-size: $primary-font-size;
  position: relative;
  margin: 0.25rem 0 0.25rem 1rem;
  padding: 0.25rem 2.5rem;
  &:before {
    display: block;
    content: "\201C";
    font-size: 5rem;
    position: absolute;
    left: 0;
    top: -1.25rem;
    color: lighten($blockquote-font-color, 25%);
  }
}

code {
  color: #333; // oil
}

hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
}

figure {
  img {
    max-width: 100%;
  }
}

.site-title {
 font-size: $h1-font-size * 0.75;
 font-family: $font-family-sans-serif;
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: lighten($secondary-text-color, 25%);
    }
  }
}

a:hover {
  .icon {
    > svg {
      path {
        fill: lighten($secondary-text-color, 35%);
      }
    }
  }
}

.post-header {
  margin-bottom: $paragraph-margin-bottom;
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}

.post-meta {
  color: $secondary-text-color;
  font-size: $ternary-font-size;
  .category {
    text-transform: capitalize;
  }
}

.more-link {
  text-align: right;
  margin: 0;
}

.content-wrapper {
  padding-top: $column-gutter / 2;
}

.social-media-list {
  ul {
    list-style: none;
    overflow: auto;
    margin: 0;
  }
  li {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.post-excerpt {
  // To have gap between post excerpts on listing pages.
  margin-bottom: $paragraph-margin-bottom + $paragraph-margin-bottom / 2;
}

.footer-menu {
  ul, ol {
    margin: 0;
    list-style: none;
    li {
      font-family: $header-font-family;
      display: inline-block;
      &:not(:first-child) {
        margin-left: $column-gutter / 2
      }
    }
  }
}



// Do not combine following rules, the will not work!
*::selection {
  background: $selection-color;
}
*::-moz-selection {
  background: $selection-color;
}

/**
 * Page sections.
 */

.page-wrapper {
  background-color: $background-color;
}

.header-wrapper {
  background-color: $secondary-background-color;
  border-bottom: 1px solid $secondary-color;
  padding: $column-gutter 0;
  margin-bottom: $column-gutter;
  a {
    color: $primary-text-color;
    font-family: $header-font-family;
    text-transform: uppercase;
    &:hover {
      color: lighten($primary-text-color, 20%);
    }
  }
}

.footer-wrapper {
  margin: $column-gutter 0;
  margin-bottom: 0;
  text-align: center;
  padding: $column-gutter / 2 0;
  background-color: darken($secondary-color, 80%);
  p, a {
    font-size: 1rem * $footer-reduction;
  }

  h1 {
    font-size: $h1-font-size * $footer-reduction;
  }
  h2 {
    font-size: $h2-font-size * $footer-reduction;
  }
  h1, h2, h3, h4, h5, h6 {
    color: lighten($secondary-text-color, 35%);
  }
  p, li {
    color: lighten($secondary-text-color, 25%);
  }
}

.site-footer {
  > * {
    margin-bottom: $paragraph-margin-bottom;
  }
  .social-media-list, .footer-menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

.site-nav {
  text-align: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 ($column-gutter / 2);
    }
  }
  @media #{$small-only} {
    text-align: left;
  }
}

#disqus_thread {
  margin-bottom: $column-gutter / 2;
}

/**
 * Code formatting.
 * Copied from jekyll default site.
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
    margin-bottom: $paragraph-margin-bottom;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight {
  margin-bottom: $paragraph-margin-bottom;
}

.footnotes {
  margin-top: $column-gutter;
  p, a, ol, ul, li {
    font-size: $secondary-font-size;
  }
  p {
    margin-bottom: 0;
  }
}

.pure-g {
  max-width: 62.5rem;
  margin: 0 auto;

  > * {
    margin: 0;
    padding-left: $column-gutter/2;
    padding-right: $column-gutter/2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
  }
  [class*="pure-u"] {
    font-family: $font-family-serif;
    font-size: 1.125rem;
  }
}

.pagination {
  text-align: center;
  li {
    display: inline-block;
    &.current {
      a {
        color: $primary-text-color;
      }
    }
  }
  a {
    display: inline-block;
    padding: 0.3rem;
    &:hover {
      &.page-link, &.previous, &.next {
        background-color: $primary-text-color;
        color: invert($primary-text-color);
      }
    }
  }
}

// Copied from Foundation.
.show-for-sr {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
