<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
  <!-- {% set theme_settings = theme.settings() %} -->
  {{ block "head" . }}
  {{ partial "head.html" . }}
  {{ end }}

  <body>
  <div class="page-wrapper">
  {{ block "header" . }}
  <div class="header-wrapper">
  <header class="site-header pure-g">

    <div class="pure-u-1 pure-u-md-1-3">
      <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
    {{ partial "primary_menu.html" . }}
  </header>
  </div>
  {{ end }}

  <div class="content-wrapper">
    <div class="pure-g">
      <div class="pure-u-1">{{ block "content" .}}{{ .Content }}{{ end }}</div>
    </div>
  </div>
  {{ block "footer" . }}
  <div class="footer-wrapper">
    <footer class="site-footer pure-g">
      <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3">
        <h2 class="footer-heading">{{ .Site.Title  }}</h2>
      </div>
      <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3">
        {{ partial "social_media_links.html" . }}
        {{ partial "footer_menu.html" . }}
      </div>
      <div class="pure-u-1 pure-u-lg-1-3">
          <div class="">
            <p class="text">{{ .Site.Params.Description | safeHTML }}</p>
          </div>
      </div>
      <div class="pure-u-1">
        <p>
          {{ .Site.Copyright | safeHTML }}
        </p>
      </div>

    </footer>
  </div>
  {{ end }}

  </div>
  {{ if .Site.Params.js }}
  {{ range .Site.Params.js }}
  {{ if eq .type "inline" }}
  <script>{{ .data | safeJS }}</script>
  {{ end }}
  {{ end }}
  {{ end }}

  {{ if .Params.js }}
  {{ range $js := .Params.js }}
  <script src="{{ .Site.BaseURL }}{{ $js.src }}"></script>
  {{ end }}
  {{ end }}
  {{ if .Site.Params.footer_code }}{{ .Site.Params.footer_code | safeHTML }}{{ end }}
  </body>
</html>
