<article class="post" itemscope itemtype="http://schema.org/Article">
  <header class="post-header">
      <h2 class="post-title" itemprop="name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="post-meta">
      <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    </div>
  </header>
  <div>
    <p>{{ .Summary | plainify | safeHTML }}</p><p class="more-link"><a href="{{ .Permalink }}">Read more →</a></p>
  </div>
</article>
