{{ define "content" }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="post" itemscope itemtype="http://schema.org/Article">
  <header class="post-header">
    <h1 class="post-title" itemprop="name">{{ .Title }}</h1>
    <div class="post-meta">
      {{ if (eq $.Section "posts") }}
      <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      {{ end }}
      {{ if .Params.categories }}
      {{ if (isset .Params.categories 0) }}
      • <span class="category"><a href="{{ "/categories/" | relLangURL }}{{ index .Params.categories 0 | urlize }}">{{ index .Params.categories 0 }}</a></span>
      {{ end }}
      {{ end }}
    </div>
  </header>
  <div>
    {{ .Content }}
  </div>
  <footer>
    {{ if .Params.tags }}
    <div class="post-meta">
    Tagged:
    {{ $len := (len .Params.tags) }}
    {{ range $index, $tag := .Params.tags }}
    <span class="tag"><a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a></span>
    {{ if lt $index (sub $len 1)}}, {{ end }}
    {{ end }}
    </div>
    {{ end }}
    {{ if and (.Params.comment) (.Site.Params.disqus_shortname) }}
    {{ partial "disqus.html" . }}
    {{ end }}
  </footer>
</article>
{{ end }}
