{{ if .Site.Menus.footer }}
<nav class="footer-menu">
  <h2 class="show-for-sr">Footer menu</h2>
  <ul>
    {{ range .Site.Menus.footer }}
    <li><a href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}
