<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Hugo">
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  {{ with .Title | default .Site.Title }}
  <meta property="og:title" content="{{ . }}" />
  <!-- <meta name="twitter:title" content="{{ . }}" /> -->
  {{ end }}

  {{ with .Description | default .Site.Params.subtitle }}
  <meta name="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}">
  <!-- <meta name="twitter:description" content="{{ . | truncate 200 }}"> -->
  {{ end }}

  <meta name="author" content="{{ .Site.Params.author }}"/>
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .Site.Params.social.rss }}
  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  {{ end }}

  {{ if .Params.images }}
  {{ range $image := .Params.images }}
  <meta property="og:image" content="{{ $image.src }}" />
  <meta itemprop="image" content="{{ $image.src }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:card" content="summary">
  {{ end }}
  {{ end }}

  {{ range $type, $item := $.Site.Data.social_networks }}
     {{ if eq $type "facebook"}}
     <meta property="fb:admins" content="{{ $item.admins }}" />
     {{ end }}
     {{ if eq $type "gplus"}}
     <link rel="publisher" href="{{ $item.url }}">
     {{ end }}
     {{ if eq $type "gplus"}}
     <link rel="publisher" href="{{ $item.url }}">
     {{ end }}
     {{ if eq $type "twitter"}}
     <meta name="twitter:site" content="{{ $item.site }}">
     {{ end }}
  {{ end }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />

  {{- with .Site.Params.favicon }}
  <link rel='icon' type='image/x-icon' href="{{ . | absURL }}" />
  {{- end -}}

  {{ if .Params.css }}
  {{ range $css := .Params.css }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $css.href }}" />
  {{ end }}
  {{ end }}
</head>
