{{ if or (.HasPrev) (.HasNext) }}
  <ul class="pagination" role="menubar" aria-label="Pagination">
    {{ if .HasPrev }}
      <li class="arrow">
        <a class="previous" href="{{ .Prev.URL }}">&larr; Newer posts</a>
      </li>
    {{ end }}
    {{ if .HasNext }}
      <li class="arrow">
        <a class="next" href="{{ .Next.URL }}">Older posts &rarr;</a>
      </li>
    {{ end }}
  </ul>
{{ end }}
