{{ if .Site.Menus.primary }}
<nav class="site-nav second-column pure-u-1 pure-u-md-2-3">
  <h2 class="show-for-sr">Primary menu</h2>
  <ul>
    {{ range .Site.Menus.primary }}
    <li>
      <a class="page-link" href="{{.URL}}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
