<nav class="social-media-list">
    <h2 class="show-for-sr">Links to social media</h2>
    <ul>
      {{ if .Site.Data.social_networks.github }}
      <li>
        <a title="Github"  href="{{ .Site.Data.social_networks.github.url }}">
          <span class="icon  icon--github">
            <svg viewBox="0 0 16 16">
              <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
            </svg><!--[if lt IE 9]><em>Github</em><![endif]-->
          </span>
        </a>
      </li>
      {{ end }}

      {{ if .Site.Data.social_networks.twitter }}
      <li>
        <a title="Twitter" href="{{ .Site.Data.social_networks.twitter.url }}">
          <span class="icon  icon--twitter">
            <svg viewBox="0 0 16 16">
              <path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
              c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
            </svg><!--[if lt IE 9]><em>Twitter</em><![endif]-->
          </span>
        </a>
      </li>
      {{ end }}

      {{ if .Site.Data.social_networks.gplus }}
      <li>
        <a title="Google+"  href="{{ .Site.Data.social_networks.gplus.url }}">
          <span class="icon  icon--gplus">
            <svg viewBox="0 0 512 512"><path d="M 256 0 C 114.61511 7.5791225e-14 0 114.61511 0 256 C 0 397.38489 114.61511 512 256 512 C 397.38489 512 512 397.38489 512 256 C 512 114.61511 397.38489 0 256 0 z M 176.3125 113.9375 C 214.64869 113.9375 246.59784 127.93526 271.25 151.125 L 232.8125 188.21875 C 222.26221 178.0863 203.88948 166.28125 176.3125 166.28125 C 127.94832 166.28125 88.4375 206.48679 88.4375 256 C 88.4375 305.51323 127.94832 345.71875 176.3125 345.71875 C 232.40659 345.71875 253.48055 305.2979 256.71875 284.40625 L 176.3125 284.40625 L 176.3125 235.75 L 310.21875 235.75 C 311.36779 242.85316 312.40625 249.95322 312.40625 259.25 C 312.40625 340.41407 258.10332 398.0625 176.3125 398.0625 C 97.9688 398.0625 34.5625 334.55262 34.5625 256 C 34.5625 177.44738 97.9688 113.9375 176.3125 113.9375 z M 396.71875 194.375 L 437.03125 194.375 L 437.03125 234.78125 L 477.4375 234.78125 L 477.4375 275.125 L 437.03125 275.125 L 437.03125 315.53125 L 396.71875 315.53125 L 396.71875 275.125 L 356.28125 275.125 L 356.28125 234.78125 L 396.71875 234.78125 L 396.71875 194.375 z "/></svg><!--[if lt IE 9]><em>GooglePlus</em><![endif]-->
          </span>
        </a>
      </li>
      {{ end }}

      {{ if .Site.Data.social_networks.linkedin }}
      <li>
        <a title="LinkedIn"  href="{{ .Site.Data.social_networks.linkedin.url }}">
          <span class="icon  icon--linkedin">
            <svg viewBox="0 0 512 512"><path d="m 156.56808,57.35182 c 0,26.38556 -21.24732,47.91062 -47.494,47.91062 -26.246696,0 -47.494019,-21.38618 -47.494019,-47.91062 0,-26.385569 21.247323,-47.910631 47.494019,-47.910631 26.24668,0 47.494,21.525062 47.494,47.910631 z m -6.94356,81.79525 H 69.356853 V 398.55881 H 149.62452 V 139.14707 z m 128.31716,0 h -76.93475 v 259.41174 h 76.93475 c 0,0 0,-96.23787 0,-136.09396 0,-36.52317 16.80344,-58.18711 48.88272,-58.18711 29.57961,0 43.74449,20.83071 43.74449,58.18711 0,37.35641 0,136.09396 0,136.09396 h 79.85105 c 0,0 0,-94.71029 0,-164.28485 0,-69.43569 -39.3006,-103.04256 -94.43255,-103.04256 -54.99307,0 -78.18459,42.91125 -78.18459,42.91125 v -34.99558 h 0.13888 z"/></svg><!--[if lt IE 9]><em>LinkedIn</em><![endif]-->
          </span>
        </a>
      </li>
      {{ end }}

      {{ if .Site.Data.social_networks.facebook }}
      <li>
        <a title="Facebook"  href="{{ .Site.Data.social_networks.facebook.url }}">
          <span class="icon  icon--facebook">
            <svg viewBox="0 0 512 512"><path d="m 195.46888,150.9587 h -45.47295 v 74.2188 h 45.47295 v 217.8241 h 87.35267 V 224.18626 h 60.96101 l 6.44303,-73.22756 h -67.40404 c 0,0 0,-27.38289 0,-41.75581 0,-17.222722 3.46932,-24.161382 20.19643,-24.161382 13.50559,0 47.33152,0 47.33152,0 V 9.0880618 c 0,0 -49.80961,0 -60.46539,0 -65.04987,0 -94.29133,28.6219372 -94.29133,83.3877262 -0.1239,47.827132 -0.1239,58.482912 -0.1239,58.482912 z"/></svg><!--[if lt IE 9]><em>facebook</em><![endif]-->
          </span>
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
